<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<title>CYPN India - Crossword</title>
<style type="text/css"><!--

body, h1, h2, h3, h4, h5, h6
{
	font-family: "Segoe UI", "Franklin Gothic Medium", "Arial", sans-serif;
}

h1, h2, h3, h4, h5, h6
{
	color: #0c2f52;
}

body
{
	cursor: default;
	/*font-size: small; */
}

.iac-answerbox
{
	color: black;
	background-color: #FFFAF0;
	border-color: #808080;
	border-style: solid;
	border-width: 1px;
	display: block;
	padding: .75em;
	width: 240pt;
}

.iac-box
{
	border-style: solid;
	border-width: .05em;
	cursor: pointer;
	font-size: 1em;
	font-weight: bold;
	height: 2em;
	overflow: hidden;
	text-align: center;
	width: 2em;
}

.iac-boxcheated_sel
{
	background-color: #FFF1D7;
	border-color: #C00000;
	color: #2080D0;
}

.iac-boxcheated_unsel
{
	background-color: #ffffff;
	border-color: #606060;
	color: #2080D0;
}

.iac-boxerror_sel
{
	background-color: #FFF1D7;
	border-color: #C00000;
	color: #BF0000;
}

.iac-boxerror_unsel
{
	background-color: #FFF0F0;
	border-color: #606060;
	color: #BF0000;
}

.iac-boxnormal_sel
{
	background-color: #FFF1D7;
	border-color: #C00000;
	color: #000000;
}

.iac-boxnormal_unsel
{
	background-color: #ffffff;
	border-color: #606060;
	color: #000000;
}

.iac-button
{
	width: 64pt;
}

.iac-cluebox
{
	border-bottom-width: 1px;
	border-color: #c0c0c0;
	border-left-width: 0px;
	border-right-width: 0px;
	border-style: solid;
	border-top-width: 1px;
	margin-top: 1em;
	padding-bottom: .5em;
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: .5em;
}

.iac-crosswordarea
{
	background-color:#0c2f52;
	border-color: #808080;
	border-style: solid;
	border-width: 2px;
	padding: 1em;
	font-family: "Segoe UI", "Verdana", "Arial", sans-serif;
	font-size: small;
}

.iac-copyright
{
	margin-bottom: 1em;
	font-size: x-small;
	font-family: "Segoe UI", "Franklin Gothic Medium", "Arial", sans-serif;
}

.iac-input
{
	font-family: "Segoe UI", "Verdana", "Arial", sans-serif;
}

.iac-wordlabel
{
	text-transform: uppercase;
	margin: 0;
}

.iac-wordinfo
{
	font-size: 8pt;
	color: #808080;
}

.iac-worderror
{
	color: #c00000;
	font-weight: bold;
	display: none;
	margin-top: 1em;
}

.iac-subscript
{
    font-size: 12px;
    font-style: italic;
}
		.formPopup {
			display: none;
			position: fixed;
			left: 45%;
			top: 5%;
			transform: translate(-50%, 5%);
			border: 3px solid #999999;
			z-index: 9;
		}

		.formContainer {
			max-width: 400px;
			padding: 20px;
			background-color: #fff;
		}

		.formContainer input[type=text],
		.formContainer input[type=password] {
			width: 100%;
			padding: 15px;
			margin: 5px 0 20px 0;
			border: none;
			background: #eee;
		}

		.formContainer input[type=text]:focus,
		.formContainer input[type=password]:focus {
			background-color: #ddd;
			outline: none;
		}

		.formContainer .btn {
			padding: 12px 20px;
			border: none;
			background-color: #8ebf42;
			color: #fff;
			cursor: pointer;
			width: 100%;
			margin-bottom: 15px;
			opacity: 0.8;
		}
--></style>

</head><body>

<h1>The CYPN India Year-End Crossword</h1>
<h3 style="margin-top: -1em;">Can you crack it!</h3>
<br />
<div id="waitmessage" class="iac-answerbox">
	This interactive crossword puzzle requires JavaScript and any 
	recent web browser, including Windows Internet Explorer, Mozilla Firefox, Google Chrome, or 
	Apple Safari.  If you have disabled web page scripting, please re-enable it and refresh
	the page.  If this web page is saved on your computer, you may need to click the yellow Information Bar at the top or bottom of
	the page to allow the puzzle to load.
</div>

<table cellpadding="0" cellspacing="0" border="0"><tr>

<td class="iac-crosswordarea">

<script type="text/javascript">
	CrosswordWidth = 16;
	CrosswordHeight = 16;
	Words = 17;
	WordLength = new Array(7, 11, 3, 5, 12, 3, 4, 9, 7, 4, 7, 3, 13, 7, 11, 6, 7);
	Word = new Array();
	Clue = new Array("Elaine De Franco Olson is Cargill's first Chief ______ Officer (7)", 
"In 2021, _____ ______ became Cargill's first female CFO (5,6)", 
"UIPath and Automation Anywhere are the leading providers of ____ (3)", 
"First name of the President of Cargill India. (5)", 
"The A in CASC stands for? (12)", 
"____ is the name of an ERP software (3)", 
"____ is an internal business accelarator with the goal of bringing new digital businesses to life in a more rapid, efficient and focused manner (4)", 
"This ship got stuck in the Suez Canal in March 2021, causing a massive disruption in Supply chains across the world (9)", 
"Activities that are manual, rule based and repetitive can be called ______ (7)", 
"In October, we celebrated the Zero _____ Week at Cargill (4)", 
"FSQR is related to Food Safety, _______, Regulatory activities (7)", 
"PF, PPF, HRA, Medical insurance premium are all a part of Chapter ___ deductions in income tax (3)", 
"__ __ is a family of techniques relating the fields of data science and process management to support the analysis of operational processes based on event logs. (7,6)", 
"The Cargill brand _______ is celebrating its 100th anniversary in 2021 (7)", 
"We use the ____ ____ tool to submit expenses in CBS India (6,5)", 
"Cargill 2025 is about _____ (6)", 
"This CBS office is in a LATAM country famous for Football (7)");
	AnswerHash = new Array(54701, 22389, 51009, 14588, 87299, 71705, 57867, 47941, 18909, 83052, 4881, 66192, 82301, 26324, 20011, 40213, 42654);
	WordX = new Array(3, 5, 3, 5, 1, 10, 0, 7, 7, 7, 13, 11, 15, 1, 3, 8, 10);
	WordY = new Array(1, 3, 5, 7, 9, 11, 12, 13, 15, 0, 0, 2, 2, 3, 3, 5, 9);
	LastHorizontalWord = 8;
	OnlyCheckOnce = false;

</script>

<script type="text/javascript">

// Anurag - These are not the answers that you are looking for. The code contains a hash, not the actual answers. Pretty smart, huh!

var BadChars = "`~!@^*()_={[}]\\|:;\"',<>/?";

var TableAcrossWord, TableDownWord;
var CurrentWord, PrevWordHorizontal, x, y, i, j;
var CrosswordFinished, Initialized;

// Check the user's browser and then initialize the puzzle.
if (document.getElementById("waitmessage") != null)
{
	document.getElementById("waitmessage").innerHTML = "Please wait while the crossword is loaded...";
	
	// Current game variables
	CurrentWord = -1;
	PrevWordHorizontal = false;
	
	// Create the cell-to-word arrays.
	TableAcrossWord = new Array(CrosswordWidth);
	for (var x = 0; x < CrosswordWidth; x++) TableAcrossWord[x] = new Array(CrosswordHeight);
	TableDownWord = new Array(CrosswordWidth);
	for (var x = 0; x < CrosswordWidth; x++) TableDownWord[x] = new Array(CrosswordHeight);
	for (var y = 0; y < CrosswordHeight; y++)
		for (var x = 0; x < CrosswordWidth; x++)
		{
			TableAcrossWord[x][y] = -1;
			TableDownWord[x][y] = -1;
		}
	
	// First, add the horizontal words to the puzzle.
	for (var i = 0; i <= LastHorizontalWord; i++)
	{
		x = WordX[i];
		y = WordY[i];
		for (var j = 0; j < WordLength[i]; j++)
		{
			TableAcrossWord[x + j][y] = i;
		}
	}
	
	// Second, add the vertical words to the puzzle.
	for (var i = LastHorizontalWord + 1; i < Words; i++)
	{
		x = WordX[i];
		y = WordY[i];
		for (var j = 0; j < WordLength[i]; j++)
		{
			TableDownWord[x][y + j] = i;
		}
	}
	
	// Now, insert the crossword table.
	document.writeln("<table id=\"crossword\" cellpadding=\"0\" cellspacing=\"0\" style=\"display: none; border-collapse: collapse;\">");
	for (var y = 0; y < CrosswordHeight; y++)
	{
		document.writeln("<tr>");
		for (var x = 0; x < CrosswordWidth; x++)
		{
			if (TableAcrossWord[x][y] >= 0 || TableDownWord[x][y] >= 0)
				document.write("<td id=\"c" + PadNumber(x) + PadNumber(y) + "\" class=\"iac-box iac-boxnormal_unsel\" onclick=\"SelectThisWord(event);\">&nbsp;</td>");
			else
				document.write("<td><\/td>");
		}
		document.writeln("<\/tr>");
	}
	document.writeln("<\/table>");
	
	// Finally, show the crossword and hide the wait message.
	Initialized = true;
	document.getElementById("waitmessage").style.display = "none";
	document.getElementById("crossword").style.display = "block";
}

// * * * * * * * * * *
// Event handlers

// Raised when a key is pressed in the word entry box.
function WordEntryKeyPress(event)
{
	if (CrosswordFinished) return;
	// Treat an Enter keypress as an OK click.
	if (CurrentWord >= 0 && event.keyCode == 13) OKClick();
}

// * * * * * * * * * *
// Helper functions

// Called when we're ready to start the crossword.
function BeginCrossword()
{
	if (Initialized)
	{
		document.getElementById("welcomemessage").style.display = "";
		document.getElementById("checkbutton").style.display = "";
	}
}

// Returns true if the string passed in contains any characters prone to evil.
function ContainsBadChars(theirWord)
{
	for (var i = 0; i < theirWord.length; i++)
		if (BadChars.indexOf(theirWord.charAt(i)) >= 0) return true;
	return false;
}

// Pads a number out to three characters.
function PadNumber(number)
{
	if (number < 10)
		return "00" + number;
	else if (number < 100)
		return "0" + number;
	else
		return "" +  number;
}

// Returns the table cell at a particular pair of coordinates.
function CellAt(x, y)
{
	return document.getElementById("c" + PadNumber(x) + PadNumber(y));
}

// Deselects the current word, if there's a word selected.  DOES not change the value of CurrentWord.
function DeselectCurrentWord()
{
	if (CurrentWord < 0) return;
	var x, y, i;
	
	document.getElementById("answerbox").style.display = "none";
	ChangeCurrentWordSelectedStyle(false);
	CurrentWord = -1;
	
}

// Changes the style of the cells in the current word.
function ChangeWordStyle(WordNumber, NewStyle)
{
	if (WordNumber< 0) return;
	var x = WordX[WordNumber];
	var y = WordY[WordNumber];
	
	if (WordNumber<= LastHorizontalWord)
		for (i = 0; i < WordLength[WordNumber]; i++)
			CellAt(x + i, y).className = NewStyle;
	else
		for (i = 0; i < WordLength[WordNumber]; i++)
			CellAt(x, y + i).className = NewStyle;
}

// Changes the style of the cells in the current word between the selected/unselected form.
function ChangeCurrentWordSelectedStyle(IsSelected)
{
	if (CurrentWord < 0) return;
	var x = WordX[CurrentWord];
	var y = WordY[CurrentWord];
	
	if (CurrentWord <= LastHorizontalWord)
		for (i = 0; i < WordLength[CurrentWord]; i++)
			CellAt(x + i, y).className = CellAt(x + i, y).className.replace(IsSelected ? "_unsel" : "_sel", IsSelected ? "_sel" : "_unsel");
	else
		for (i = 0; i < WordLength[CurrentWord]; i++)
			CellAt(x, y + i).className = CellAt(x, y + i).className.replace(IsSelected ? "_unsel" : "_sel", IsSelected ? "_sel" : "_unsel");
}

// Selects the new word by parsing the name of the TD element referenced by the 
// event object, and then applying styles as necessary.
function SelectThisWord(event)
{
	if (CrosswordFinished) return;
	var x, y, i, TheirWord, TableCell;
	
	// Deselect the previous word if one was selected.
	document.getElementById("welcomemessage").style.display = "none";
	if (CurrentWord >= 0) OKClick();
	DeselectCurrentWord();
	
	// Determine the coordinates of the cell they clicked, and then the word that
	// they clicked.
	var target = (event.srcElement ? event.srcElement: event.target);
	x = parseInt(target.id.substring(1, 4), 10);
	y = parseInt(target.id.substring(4, 7), 10);
	
	// If they clicked an intersection, choose the type of word that was NOT selected last time.
	if (TableAcrossWord[x][y] >= 0 && TableDownWord[x][y] >= 0)
		CurrentWord = PrevWordHorizontal ? TableDownWord[x][y] : TableAcrossWord[x][y];
	else if (TableAcrossWord[x][y] >= 0)
		CurrentWord = TableAcrossWord[x][y];
	else if (TableDownWord[x][y] >= 0)
		CurrentWord = TableDownWord[x][y];

	PrevWordHorizontal = (CurrentWord <= LastHorizontalWord);
	
	// Now, change the style of the cells in this word.
	ChangeCurrentWordSelectedStyle(true);
	
	// Then, prepare the answer box.
	x = WordX[CurrentWord];
	y = WordY[CurrentWord];
	TheirWord = "";
	var TheirWordLength = 0;
	for (i = 0; i < WordLength[CurrentWord]; i++)
	{
		// Find the appropriate table cell.
		if (CurrentWord <= LastHorizontalWord)
			TableCell = CellAt(x + i, y);
		else
			TableCell = CellAt(x, y + i);
		// Add its contents to the word we're building.
		if (TableCell.innerHTML != null && TableCell.innerHTML.length > 0 && TableCell.innerHTML != " " && TableCell.innerHTML.toLowerCase() != "&nbsp;")
		{
			TheirWord += TableCell.innerHTML.toUpperCase();
			TheirWordLength++;
		}
		else
		{
			TheirWord += "&bull;";
		}
	}
	
	document.getElementById("wordlabel").innerHTML = TheirWord;
	document.getElementById("wordinfo").innerHTML = ((CurrentWord <= LastHorizontalWord) ? "Across, " : "Down, ") + WordLength[CurrentWord] + " letters.";
	document.getElementById("wordclue").innerHTML = Clue[CurrentWord];
	document.getElementById("worderror").style.display = "none";
	if (TheirWordLength == WordLength[CurrentWord])
		document.getElementById("wordentry").value = TheirWord.replace(/&AMP;/g, '&');
	else
		document.getElementById("wordentry").value = "";
	
	// Finally, show the answer box.
	document.getElementById("answerbox").style.display = "block";
	try
	{
		document.getElementById("wordentry").focus();
		document.getElementById("wordentry").select();
	}
	catch (e)
	{
	}
	
}

// Called when the user clicks the OK link.
function OKClick()
{
	var TheirWord, x, y, i, TableCell;
	if (CrosswordFinished) return;
	if (document.getElementById("okbutton").disabled) return;
	
	// First, validate the entry.
	TheirWord = document.getElementById("wordentry").value.toUpperCase();
	if (TheirWord.length == 0)
	{
		DeselectCurrentWord();
		return;
	}
	if (ContainsBadChars(TheirWord))
	{
		document.getElementById("worderror").innerHTML = "The word that you typed contains invalid characters.  Please type only letters in the box above.";
		document.getElementById("worderror").style.display = "block";
		return;
	}
	if (TheirWord.length < WordLength[CurrentWord])
	{
		document.getElementById("worderror").innerHTML  = "You did not type enough letters.  This word has " + WordLength[CurrentWord] + " letters.";
		document.getElementById("worderror").style.display = "block";
		return;
	}
	if (TheirWord.length > WordLength[CurrentWord])
	{
		document.getElementById("worderror").innerHTML = "You typed too many letters.  This word has " + WordLength[CurrentWord] + " letters.";
		document.getElementById("worderror").style.display = "block";
		return;
	}
	
	// If we made it this far, they typed an acceptable word, so add these letters to the puzzle and hide the entry box.
	x = WordX[CurrentWord];
	y = WordY[CurrentWord];
	for (i = 0; i < TheirWord.length; i++)
	{
		TableCell = CellAt(x + (CurrentWord <= LastHorizontalWord ? i : 0), y + (CurrentWord > LastHorizontalWord ? i : 0));
		TableCell.innerHTML = TheirWord.substring(i, i + 1);
	}
	DeselectCurrentWord();
}

// Called when the "check puzzle" link is clicked.
function CheckClick()
{
	var i, j, x, y, UserEntry, ErrorsFound = 0, EmptyFound = 0, TableCell;
	if (CrosswordFinished) return;
	DeselectCurrentWord();
	
	for (y = 0; y < CrosswordHeight; y++)
	for (x = 0; x < CrosswordWidth; x++)
		if (TableAcrossWord[x][y] >= 0 || TableDownWord[x][y] >= 0)
		{
			TableCell = CellAt(x, y);
			if (TableCell.className == "iac-box iac-boxerror_unsel") TableCell.className = "iac-box iac-boxnormal_unsel";
		}
		
	for (i = 0; i < Words; i++)
	{
		// Get the user's entry for this word.
		UserEntry = "";
		for (j = 0; j < WordLength[i]; j++)
		{
			if (i <= LastHorizontalWord)
				TableCell = CellAt(WordX[i] + j, WordY[i]);
			else
				TableCell = CellAt(WordX[i], WordY[i] + j);
			if (TableCell.innerHTML.length > 0 && TableCell.innerHTML.toLowerCase() != "&nbsp;")
			{
				UserEntry += TableCell.innerHTML.toUpperCase();
			}
			else
			{
				UserEntry = "";
				EmptyFound++;
				break;
			}
		}
		UserEntry = UserEntry.replace(/&AMP;/g, '&');
		// If this word doesn't match, it's an error.
		if (HashWord(UserEntry) != AnswerHash[i] && UserEntry.length > 0)
		{
			ErrorsFound++;
			ChangeWordStyle(i, "iac-box iac-boxerror_unsel");
		}
	}
	
	// If they can only check once, disable things prematurely.
	if ( OnlyCheckOnce )
	{
		CrosswordFinished = true;
		document.getElementById("checkbutton").style.display = "none";
	}
	
	// If errors were found, just exit now.
	if (ErrorsFound > 0 && EmptyFound > 0)
		document.getElementById("welcomemessage").innerHTML = ErrorsFound + (ErrorsFound > 1 ? " errors" : " error") + " and " + EmptyFound + (EmptyFound > 1 ? " incomplete words were" : " incomplete word was") + " found.";
	else if (ErrorsFound > 0)
		document.getElementById("welcomemessage").innerHTML = ErrorsFound + (ErrorsFound > 1 ? " errors were" : " error was") + " found.";
	else if (EmptyFound > 0)
		document.getElementById("welcomemessage").innerHTML = "No errors were found, but " + EmptyFound + (EmptyFound > 1 ? " incomplete words were" : " incomplete word was") + " found.";
	
	if (ErrorsFound + EmptyFound > 0)
	{
		document.getElementById("welcomemessage").style.display = "";
		return;
	}
			
	// They finished the puzzle!
	CrosswordFinished = true;
	document.getElementById("checkbutton").style.display = "none";
	document.getElementById("congratulations").style.display = "block";
	document.getElementById("welcomemessage").style.display = "none";
    if (CrosswordFinished)
    	openForm();
}

// Returns a one-way hash for a word.
function HashWord(Word)
{
	var x = (Word.charCodeAt(0) * 719) % 1138;
	var Hash = 837;
	var i;
	for (i = 1; i <= Word.length; i++)
		Hash = (Hash * i + 5 + (Word.charCodeAt(i - 1) - 64) * x) % 98503;
	return Hash;
}
		var currentdate = new Date();
		var datetime = "Last Sync: " + currentdate.getDate() + "/"
			+ (currentdate.getMonth() + 1) + "/"
			+ currentdate.getFullYear() + " @ "
			+ currentdate.getHours() + ":"
			+ currentdate.getMinutes() + ":"
			+ currentdate.getSeconds();

		// document.getElementById("inputItemTime").innerHTML = datetime;

		function openForm() {
			document.getElementById("myForm").style.display = "block";
		}


                
               
 

</script>

</td>

<td valign="top" style="padding-left: 1em;">


<div id="welcomemessage" class="iac-answerbox" style="display:none;">
<h3>Welcome!</h3>
<p>Click a word in the puzzle to get started.</p>
</div>

<div id="answerbox" class="iac-answerbox" style="display:none;">
<div>Clue</div>
<h3 id="wordlabel" class="iac-wordlabel"> &nbsp;</h3>
<div id="wordinfo" class="iac-wordinfo"> </div>
<div id="wordclue" class="iac-cluebox"> </div>
<div style="margin-top: 1em;">
	<input class="iac-input" id="wordentry" type="text" size="24" style="font-weight: bold; text-transform:uppercase;" onkeypress="WordEntryKeyPress(event)" onchange="WordEntryKeyPress(event)" />
</div>
<div id="worderror" class="iac-worderror"></div>

<table border="0" cellspacing="0" cellpadding="0" width="100%" style="margin-top:1em;"><tbody><tr><td>
</td><td align="right">
<button id="okbutton" type="button" class="iac-input iac-button" onclick="OKClick();" style="font-weight: bold;">OK</button> &nbsp;
<button id="cancelbutton" type="button" class="iac-input iac-button" onclick="DeselectCurrentWord();">Cancel</button>
</td></tr></tbody></table>
</div>
<div id="congratulations" class="iac-answerbox" style="display:none;">
<h3>Congratulations!</h3>
<p>You have completed this crossword puzzle!
<br />
</p>
	<p class="iac-subscript">Crossword clues by <a href="mailto:Anurag_Saxena@Cargill.com">Anurag</a></p>
</div>
</td></tr></table>
<div style="margin-top: 1em;">
	<button id="checkbutton" type="button" onclick="CheckClick();" style="display: none;">Check puzzle</button>
</div>
<script type="text/javascript">
BeginCrossword();

</script>
	<div class="formPopup" id="myForm">

		<form class="formContainer" role="form" th:action="@{/add}" th:object="${person}" method="POST">

			<h1>Congratulations</h1>



			<label for="name"><b>Name</b></label>
			<input type="text" th:field="*{name}" class="form-control" id="inputItemName" placeholder="Enter name"
				required />
			<label for="email"><b>Email</b></label>
			<input type="text" th:field="*{email}" class="form-control" id="inputItemEmail" placeholder="Enter Email"
				required />
<input type="hidden" th:field="*{time}" class="form-control"	th:value="${person.time}" />

			<button type="submit" class="btn">submit</button>

		</form>



</body></html>

